/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap'); */

* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;

  font-family: "Inter", sans-serif;
  font-size: 24px;
  color: #333333;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.background {
  width: 443px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: url(../img/Ellipse.jpg) left no-repeat;
  background-size: cover;
  z-index: -1;
}

//главный блок
.main {
  max-width: 1105px;
  display: flex;
  justify-content: space-between;

  position: relative;
}

//левая часть блока .main с основной информацией
.content {
  width: 57%;
  &__title {
    margin-bottom: 40px;
  }

  &__title-main {
    font-size: 72px;
    font-weight: 900;
  }

  &__title--color {
    color: #a100ff;
  }

  &__title-sub {
    font-size: 32px;
    font-weight: 600;
  }

  &__direction {
    margin-bottom: 120px;
  }

  &__direction h6 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 16px;
  }

  &__information {
    font-size: 24px;
    line-height: 32.4px;
  }
}

//правая часть блока .main с картинкой
.decoration {
  position: relative;
  width: 580px;

  &__image{
    position: absolute;
    top: -30px;
  }
}

//блок с названиями курсов
.list {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  &__item {
    padding: 5px 15px;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #333333;
    border-radius: 30px;
    margin-right: 7px;
  }

  &__item:last-child{
    margin-top: 12px;
  }
}

.bold {
  font-weight: 600;
}


//Плавающие иконки
.icon{
  position: absolute;
}

.icon-envelope-1{
  left: -90px;
  bottom: -70px;
  @media(max-width: 1300px){
    left: -65px;
    bottom: -30px; 
  }
}

.icon-envelope-2{
  right: -30px;
  top: -70px;
  @media(max-width: 1300px){
    right: -30px;
    top: -40px; 
  }
}

.icon-hart{
  right: -115px;
  top: 48px;
  @media(max-width: 1300px){
    right: -50px;
    bottom: 30%; 
  }
}

.icon-information{
  right: 50%;
  top: 50%;
}

.icon-plus{
  right: 10%;
  bottom: 0;
  transform: translateY(200%);
}

.icon-float{
  animation: Up-icon-float infinite 3s ease-in-out;
}

@keyframes Up-icon-float {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(0);
  }
}
